// Color Variables

$themeColor:        #221e1f;
$headingColor:      #333333;
$linkColor:         #eb1d3b;

$fontDefault:		'Inter_Regular';
$fontBold:			'Inter_Bold';
$fontLight:			'Inter_Light';
$fontSemiBold:		'Inter_Semi_Bold';
$fontBoldItalic:	'Inter_Bold_Italic';

// Font Sizes
$defaultFontSieze:   16px;

